<html>
<body>
  <h1>{{slog}}</h1><br>
  <div> date : {{annee}}</div>
  <div> locale : {{locale}}</div>
  <div> format : {{format}}</div>
  <a href="{{path('blog_home')}}"> Retour à la page d'acceil</a>
</body>
</html>